# Ignore SSL certificates and private keys
/backend/credentials

# Ignore log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env
.vscode
.DS_Store

package-lock.json