# Ignore log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env
/backend/service-account.json
.vscode
.DS_Store

package-lock.json

/bin/tnoodle.jar

/md/TODO.md
/backend/API/mail/mails.json
/backend/API/mail/bans.json

/backend/tests
/backend/secret

/wca_export