#event-checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: var(--space-sm);
}

.event-checkbox>p {
    color: var(--main-text);
}

.event-section-title {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: var(--space-md);
    color: var(--secondary-text);
    padding-bottom: var(--space-xs);
    cursor: pointer;
    user-select: none;
    grid-column-start: 1;
    grid-column-end: 3;
}

.event-checkbox.unchecked {
    height: fit-content;
    min-height: 50px;
    width: 100%;
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: var(--main-radius);
    padding: var(--space-sm);
    transition: all 0.2s ease-in-out;
}

.event-checkbox:hover {
    scale: 1.02;
}

.event-checkbox.checked {
    height: fit-content;
    min-height: 100px;
    width: 100%;
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: var(--main-radius);
    padding: var(--space-sm);
    transition: all 0.2s ease-in-out;
}

.checkbox-label {
    display: inline-block;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.inline {
    display: flex;
    align-items: center;
    margin-top: var(--space-sm);
}


/* Competitor Assignment Table Styling */

.competitor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--space-md);
}

.competitor-assignments {
    margin-top: var(--space-lg);
    border: 1px solid var(--input-border);
}

.competitor-assignments>h4 {
    padding: 10px 0 0 10px;
}

.competitor-table th,
.competitor-table td {
    padding: var(--space-sm);
    text-align: left;
    border-bottom: 1px solid var(--input-border);
}

.competitor-table th {
    background-color: var(--main-lighter);
    position: sticky;
    top: 0;
    z-index: 1;
}

.competitor-table td {
    background-color: var(--input-background);
}

/* Competitor List Table Styling */

#competitor-list-wrapper {
    border: 1px solid var(--input-border);
    margin-top: var(--space-sm);
}

#competitor-list {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#competitor-list th,
#competitor-list td {
    padding: var(--space-sm);
    text-align: left;
    border-bottom: 1px solid var(--input-border);
}

/* ID column widths */

#competitor-list th:nth-child(1),
#competitor-list td:nth-child(1) {
    width: 50px;
}

#competitor-list th {
    background-color: var(--main-lighter);
    position: sticky;
    top: 0;
    z-index: 1;
}

#competitor-list .delete-btn {
    background-color: #e74c3c;
    color: var(--main-text);
    border: none;
    padding: var(--space-xxs) var(--space-xs);
    cursor: pointer;
    border-radius: var(--main-radius);
}

#competitor-list .delete-btn:hover {
    background-color: #c0392b;
}


/* Group Styles */

.event-group {
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: var(--main-radius);
    padding: var(--space-xs);
    margin: var(--space-md) var(--space-sm);
}

.event-group h3 {
    margin-bottom: var(--space-sm);
    font-size: 1.25rem;
}

.group {
    border-radius: var(--main-radius);
    background-color: var(--hover-background);
    padding: var(--space-sm);
    margin-bottom: var(--space-xs)
}

.group ul li {
    margin-left: var(--space-lg);
}

.group div {
    color: var(--secondary-text);
}

.group div span {
    color: var(--main-text);
}