select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#content,
#content * {
    all: unset;
    display: revert;
    box-sizing: border-box;
}

#content {
    line-height: 1.6;
    color: var(--main-text);
    background-color: var(--secondary-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow-sm);
    overflow: auto;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    color: var(--main-text);
    margin: 1.5em 0 0.5em;
    line-height: 1.2;
    font-weight: bold;
}

#content h1 {
    font-size: 2em;
    border-bottom: 2px solid var(--input-border);
    padding-bottom: 0.3em;
}

#content h2 {
    font-size: 1.75em;
}

#content h3 {
    font-size: 1.5em;
}

#content h4 {
    font-size: 1.25em;
}

#content h5 {
    font-size: 1.1em;
}

#content p {
    margin: 1em 0;
    color: var(--secondary-text);
}

#content a {
    color: var(--link-color);
    text-decoration: underline;
}

#content a:hover {
    color: var(--link-color);
    text-decoration: none;
}

#content ul,
#content ol {
    margin: 1em 0;
    padding-left: 2em;
    /* Indent for lists */
    list-style: disc;
    /* Default bullet for unordered lists */
}

#content ol {
    list-style: decimal;
    /* Numbered bullets for ordered lists */
}

#content li {
    margin: 0.5em 0;
    /* Space between list items */
}

#content li::before {
    content: '';
}

#content blockquote {
    margin: 1em 0;
    padding: 1em;
    border-left: 4px solid var(--input-border);
    background-color: var(--main-lighter);
    color: var(--secondary-text);
    font-style: italic;
}

#content pre,
#content code {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-lighter);
    color: var(--link-color);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 0.5em;
    overflow-x: auto;
}

#content pre {
    padding: 1em;
    margin: 1em 0;
}

#content hr {
    border: none;
    border-top: 1px solid var(--input-border);
    margin: 2em 0;
}

#content img {
    max-width: 100%;
    /* Ensure images fit the container */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Center images */
    margin: 1em auto;
}